{% extends 'base.html.twig' %}

{% block title %}
About Us | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>About Us</h2>
        <p>Mesdames, messieurs, l'acuité des problèmes de la vie quotidienne doit prendre en compte les préoccupations
            de la population de base dans l'élaboration de nos compatriotes les plus démunis</p>
        <p>Et c'est en toute conscience que je déclare avec conviction que la politique globale mondialiste conforte
            mon désir incontestable d'aller dans le sens d'un projet porteur de véritables espoirs, notamment pour les plus démunis.</p>
        <p>Alors oui, je me suis égaré, mais aujourd'hui, je vous dis que l'aspiration plus que légitime de chacun au
            progrès social entraîne une mission somme toute des plus exaltantes pour moi : l'élaboration d'un rappel des droits fondamentaux de notre pays</p>

{% endblock %}

